{% extends 'homepage/base.html' %}
{% load static %}


{% block "CONTENT" %}
<div class="uni-banner">
    <div class="container-fluid container-large">
        <div class="uni-banner-text-area">
            <h1>CCTV Installation and Consultancy</h1>
            <ul>
                <li><a href="{% url 'about' %}">Home</a></li>
                <li>CCTV Consultancy</li>
            </ul>
        </div>
    </div>
</div>


<div class="service-details pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="details-page-text-area">
                    <img class="details-page-main-img" src="{% static '' %}assets/images/services/cctv.jpg" alt="image">
                    <h3>CCTV Security Installation</h3>
                    <p>Closed Circuit Television, also known by the acronym CCTV, is a private or closed video
                        system where viewing of the video is restricted to a specific group of individuals.</p>
                    <p> Systems can range in size from being within a single building, to a complex of buildings, to
                        large campuses and city centers, and can even span across a continent</p>
                    <div class="details-page-text-img-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <img src="{% static '' %}assets/images/services/cctv 2.jpg" alt="image">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <img src="{% static '' %}assets/images/services/cctv 3.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                    <h4>About This Service</h4>
                    <p>CellQuick provides cctv installation and consultancy sercives, We have expert knowledge of
                        CCTV systems for business and home. We offer CCTV installation, servicing and support. Find
                        out more about our </p>
                    <div class="about-list">
                        <ul>
                            <li>24/7 Live Support</li>
                            <li>CCTV Consultancy</li>
                            <li>Quick Repair Services</li>
                            <li>Fast Delivery</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-area pt-30 pl-20">
                    <div class="sidebar-services">
                        <ul>
                            <li><a class="active" href=""><span>CCTV Installation</span> ></a></li>
                            <li><a href=""><span>CCTV Repair</span> ></a></li>
                            <li><a href=""><span>cctv Battery Replacement</span> ></a></li>
                            <li><a href=""><span>Back Panel Repair</span> ></a></li>
                            <li><a href=""><span>Consultancy</span> ></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contact ptb-100 ">
    <div class="container">
        <div class="row g-5 justify-content-center">
            <div class="col-lg-6">
                <div class="contact-form-text-area">
                    <form id="contactForm">
                        <div class="row">
                            <h3 class="text-center pb-4">Make Enquiry</h3>

                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" id="name" required
                                        data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" id="email"
                                        required data-error="Please enter your Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" name="phone_number" class="form-control"
                                        placeholder="Phone Number" id="phone_number" required
                                        data-error="Please enter your phone number">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <select name="laptop-type" id="laptop" class="form-control">
                                        <option value="Hp">Enquiry type</option>
                                        <option value="Hp">Installation</option>
                                        <option value="Hp">Consultation</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control"
                                        placeholder=" CCTV Enquiry" cols="30" rows="5" required
                                        data-error="Please enter your desired Specification"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <button class="default-button" type="submit"><span>Send message</span></button>
                                <div id="msgSubmit" class="h6 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="newsletter ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="newsletter-text-area">
                    <h3>Join Our Newsletter</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="newsletter-form-area pt-30">
                    <form class="newsletter-form" data-toggle="validator">
                        <div class="input-group">
                            <input type="email" class="input-newsletter form-control" placeholder="Your Email"
                                name="EMAIL" required autocomplete="off">
                            <button class="default-button" type="submit"><span><i
                                        class="flaticon-paper-plane"></i></span></button>
                        </div>
                    </form>
                    <div id="validator-newsletter" class="form-result"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock "CONTENT" %}